In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('/Users/bagjuyeon/Desktop/python_trash/DutyFreeNation.csv', encoding='CP949')

print(df)

      국적    2010년 10월    2010년 11월    2010년 12월
0    내국인  28145222110  28197671200  22848639210
1    일본인     25086510     15624830      9297440
2    중국인    218886260    119056820     65382770
3     기타     93695190     91775030     86774040
4     대만     11623110      9741120      8678710
5    미국인     77368430     36427060     29399620
6   러시아인      7796340      4617800      4101630
7    태국인      3294360       602380       902910
8    홍콩인      4494030      2372030      1424950
9   필리핀인      2593010      1204700       757190
10  해외교포     24258670     19307540     21063780

In [26]:
df = df.reindex(['국적','2010년 12월', '2010년 11월', '2010년 10월'], axis = 1)

In [27]:
print(df)

      국적    2010년 12월    2010년 11월    2010년 10월
0    내국인  22848639210  28197671200  28145222110
1    일본인      9297440     15624830     25086510
2    중국인     65382770    119056820    218886260
3     기타     86774040     91775030     93695190
4     대만      8678710      9741120     11623110
5    미국인     29399620     36427060     77368430
6   러시아인      4101630      4617800      7796340
7    태국인       902910       602380      3294360
8    홍콩인      1424950      2372030      4494030
9   필리핀인       757190      1204700      2593010
10  해외교포     21063780     19307540     24258670